.bg{
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #323232 46%, #8B8B8B 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #323232 46%, #8B8B8B 100%);
    background: linear-gradient(135deg, #000000 0%, #323232 46%, #8B8B8B 100%);
}

.container-car {
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
}

.threebox {
    width: 85%;
    gap: 20px;
    height: 300px;
    padding: 30px;
}

.BackImage {
    background-image: url('https://media.istockphoto.com/photos/beautiful-shiny-diamond-in-brilliant-cut-on-black-background-diamond-picture-id1336275187?k=20&m=1336275187&s=612x612&w=0&h=t9Y7hyxXfBcW0cX6Ev_Fv_exD_cbKNyXjDQBAQhpZIw=');
    background-size: cover;
    /* height: 85%; */
    width: 100%;
    /* overflow: hidden; */
    padding: 20px;
}


.car-Cont {
    background-color: #eee;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .SelectVehicleHeading {
        margin: 20px;
        font-size: 18px;
    }
}

@media screen and (min-width: 480px) {
    .SelectVehicleHeading {
        font-size: 28px;
        font-weight: bold;
    }
}

@media screen and (min-width:768px) and (max-width:1249px) {
    .resBtn{
        margin: 0px !important;
        margin-top: 30px !important;
    }
    .resWidth{
        width: 95% !important;
    }
}

/* @media screen {
    .resBtn{
        margin: 0px !important;
        margin-top: 20px !important;
    }
} */

.BottomCard {
    display: flex;
    flex-direction: column;
    /* margin-top: 80px; */
    width: 100%;
}

.car-Cont {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.carddeco {
    background-color: #f1ecec;
    border-radius: 12px;
    margin: 20px;
}